---
- name: Resolve target resources
  ansible.builtin.include_tasks: includes/resources.yaml

- name: Invoke deploy function
  ansible.builtin.include_role:
    name: network.base.resource_manager
  vars:
    action: 'deploy'
    resources: "{{ bgp_resources }}"
